@charset "UTF-8";

/* 清除所有元素的脏边距 */
*{
	margin: 0;
	padding: 0;
}

/* 学生信息展示面板外包 */
.Student {
	overflow: auto;
	width: 95%;
	/* height: 40%; */
	max-height: 300px;
	border: 1px solid #dfdfdf;
	margin: 5px;
}

/* 组长背景色 */
.GroupLeader {
	background-color: #d0efd0cc;
}

/* 学生信息单条单个属性格样式修改 */
.tbodytd td {
	padding: 4px;
}

/* 班级学生分组信息展示面板外包 */
.StudentProject {
	overflow: auto;
	width: 95%;
	/* height: 40%; */
	max-height: 400px;
	border: 1px solid #CCC;
	margin: 5px;
}

/* 项目表格边框 */
.ProjectTable {
	border: 1px solid #dfdfdf;
}

/* 使进度球在div里 */
.ProgressDiv {
	height: 100px;
	width: 100px;
	margin: 0;
	/* background-color: gainsboro; */
	position: relative;
}